@font-face {
  font-family: "Nerd Font Symbols Blog";
  src: url("../fonts/JetBrainsMonoNerdFontMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
